/* ***********REGOLE GENERALI********************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************REGOLE MAIN*************** */

/* *****TITOLO***** */
main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

#titolo{
    width: 60%;
    margin: 0 auto;
}

#titolo h1{
    text-transform: uppercase;
    font-size: 30px;
    margin: 20px 0;
}

/**********LABEL*******/

.flex{
    margin-top: 50px;
    display: flex;
    background-color: bisque;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.col{
background-color: rgb(201, 32, 32);
width: calc(100% / 3 - 20px);
/* debug */
/* height: 500px; */
}

.col img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    
}